<h1>Listing apples</h1>

<% if user_signed_in? %>
  <h2>Great job!</h2>
<% end %>
<h3><%= current_user.email %></h3>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apples.each do |apple| %>
      <tr>
        <td><%= link_to 'Show', apple %></td>
        <td><%= link_to 'Edit', edit_apple_path(apple) %></td>
        <td><%= link_to 'Destroy', apple, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apple', new_apple_path %>
